body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Fuente preferida */
}

header {
    text-align: center;
    padding: 20px 0;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espacio entre el título y el botón */
}

.btn-home:hover {
    background-color: #333;
}

main {
    flex: 1;
}

footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

.specialties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.specialty {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.specialty img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-toggle {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-toggle:hover {
    background-color: #0056b3;
}

#sobre-mi {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #f1f1f1; /* Fondo gris */
    padding: 20px; /* Espacio alrededor del texto */
    text-align: center; /* Texto centrado */
    margin-top: 20px; /* Espacio arriba */
}

#sobre-mi.open {
    max-height: 1000px; /* Un valor suficientemente grande para mostrar el contenido */
}
